{% extends 'events/base.html' %}

{% block content %}
<h1>Events</h1>

{% for event in event_list %}
<div class="card">
    <div class="card-header">
        <strong>{{event}}</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{event.venue}}</h5>
        <p class="card-text">
        <ul>
            <li>{{event.manager}}</li>
            <li>{{event.description}}</li>
            <li>{{event.event_date}}</li>
            <li>
                Attendees
                {% for user in event.attendees.all %}
                <ul>
                    <li>{{user}}</li>
                </ul>
                {% endfor %}
            </li>
        </ul>
        </p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'update-event' event.id %}"><button class="btn btn-secondary">Update</button></a>
        <a href="{% url 'delete-event' event.id %}"><button class="btn btn-danger">Delete</button></a>
    </div>
</div>
<br>
<br>
{% endfor %}
{% endblock %}